<p id="notice"><%= notice %></p>

<h1>Enclosures</h1>

<%= render 'map' %>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Animal</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enclosures.each do |enclosure| %>
      <tr>
        <td><%= enclosure.name %></td>
        <td>
        <% if !enclosure.animal_id.nil? %>
          <%= Animal.find_by_id(enclosure.animal_id).name %>
          <script>
            var enclosure_id = '<%= enclosure.name %>'
            var $enclosure = $('[id="' + enclosure_id + '"]');

            $enclosure.removeClass("st0").addClass("occupied");
            $enclosure.attr("data-toggle", "tooltip");
            $enclosure.attr("title", '<%= Animal.find_by_id(enclosure.animal_id).name %>');
          </script>
        <% end %>
        </td>
        <td><%= link_to 'Show', enclosure %></td>
        <td><%= link_to 'Edit', edit_enclosure_path(enclosure) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enclosure', new_enclosure_path %>

<script>
// initialize all toolips
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
