<p id="notice"><%= notice %></p>


<h1 class="mt-4">Map View</h1>
<p class="h6 mb-4 mt-2 text-secondary">Hover over the enclosures below to see where each intake is located.<br>
Click on an occupied enclosure to view the occupant's details!</p>


<div class="container py-4 px-4" style="border: 2px solid #eaeaea; border-radius: 6px;">
  <%= render 'map' %>
</div>

<table class="table table-sm mt-4 pt-4 d-none">
  <thead>
    <tr>
      <th>Location</th>
      <th>Animal</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enclosures.each do |enclosure| %>
      <tr>
        <td><%= enclosure.name %></td>
        <td>
          <% if !enclosure.animal_id.nil? %>
            <%= Animal.find_by_id(enclosure.animal_id).name %>
          <% end %>
          
          <script>
            var enclosure_id = '<%= enclosure.name %>'
            var $enclosure = $('[id="' + enclosure_id + '"]');

            $enclosure.attr("data-toggle", "tooltip");
            
            
            <% if !enclosure.animal_id.nil? %>
              var animal_id = '<%= enclosure.animal_id %>';
              
              $enclosure.removeClass("st11").addClass("occupied");
              $enclosure.attr("title", enclosure_id + '<br><%= Animal.find_by_id(enclosure.animal_id).name %>')
              .attr("data-html", "true").attr("onclick", ("window.location.assign('/animals/" + animal_id + "');"));
            <% else %>
              $enclosure.attr("title", enclosure_id);
            <% end %>
          </script>
        </td>
        <td><%= link_to 'Show', enclosure %></td>
        <td><%= link_to 'Edit', edit_enclosure_path(enclosure) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enclosure', new_enclosure_path, :class => "d-none" %>

<script>
// initialize all toolips
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
