<p id="notice"><%= notice %></p>

<h1>Enclosures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enclosures.each do |enclosure| %>
      <tr>
        <td><%= enclosure.name %></td>
        <td><% if !Animal.where(enclosure_id: enclosure.id).blank? %><%= Animal.find_by_enclosure_id(enclosure.id).name %><% end %></td>
        <td><%= link_to 'Show', enclosure %></td>
        <td><%= link_to 'Edit', edit_enclosure_path(enclosure) %></td>
        <td><%= link_to 'Destroy', enclosure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enclosure', new_enclosure_path %>
