<%= form_with(model: animal, local: true, multipart: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h5 style="color: #ee2740;"><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h5>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li style="color: #ee2740;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group form-row">
    <div class="col-4">
      <%= form.label :name %>
      <%= form.text_field :name, :class => "form-control" %>
    </div>
    <div class="col-4">
      <%= form.label "Animal Type" %>
      <%= form.select(:animaltype, ['Bird', 'Cat', 'Dog', 'Livestock', 'Other'], {}, {:class => "form-control"}) %>
    </div>
    <div class="col-4">
      <%= form.label :intake_date %>
      <%= form.text_field :intake_date, :class => "datepicker form-control" %>
    </div>
  </div>
  
  <div class="form-row">
    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>
  </div>
  
  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label :sex %>
      <%= form.select(:sex, ['Intact Female', 'Intact Male', 'Neutered Male', 'Spayed Female',  'Unknown'], {}, { :class => "form-control" }) %>
    </div>
    <div class="col-6">
      <%= form.label :birthday %>
      <%= form.text_field :birthday, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label :breed %>
      <%= form.text_field :breed, :class => "form-control" %>
    </div>
    <div class="col-6">
      <%= form.label :color %>
      <%= form.text_field :color, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group form-row">
    <div class="col-4">
      <%= form.label :outcome_date %>
      <%= form.text_field :outcome_date, :class => "datepicker form-control" %>
    </div>
    <div class="col-4">
      <%= form.label "Outcome" %>
      <%= form.select(:outcometype, ['Active', 'Adoption', 'Died', 'Euthanasia', 'Missing', 'Return to Owner', 'Transfer'], {}, 
      {:class => "form-control", :id => "outcome", :onChange => "toggleEnclosures();"}) %>
    </div>
    <div class="col-4">
      <%= form.label "Outcome remarks" %>
      <%= form.text_field :outcomesubtype, :class => "form-control" %>
    </div>
  </div>
  

  <div class="form-group form-row" id="enclosures">
    <div class="col">
      <%= form.label "Enclosure" %>
      <%= form.select(:enclosure_id, Enclosure.where("animal_id is null or animal_id = :id", {id: @animal.id}).order(:name).map{ |e| [e.name, e.id]}, {:include_blank => true}, {:class => "form-control", :id => "enclosuresField"}) %>
    </div>
  </div>
  
  <div class="actions pt-3">
    <%= form.submit :class => "btn btn-primary mr-1" %>
    <%= link_to animals_path, :class => "btn btn-outline-secondary" do %>Cancel<% end %>
  </div>
<% end %>

  <script>
    //Initialize date pickers
      $('.datepicker').pickadate({
        format: 'm/d/yyyy'
    });
    
    function toggleEnclosures() {
      if ($("#outcome").val() === "Active") {
        $("#enclosures").show();
      } else {
        $("#enclosuresField").val("")
        $("#enclosures").hide();
      }
    }
    
    $(document).ready(function() {
      toggleEnclosures();
    });
  </script>