<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h5 style="color: #ee2740;"><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h5>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li style="color: #ee2740;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label :name %>
      <%= form.text_field :name, :class => "form-control" %>
    </div>
    <div class="col-6">
      <%= form.label "Animal Type" %>
      <%= form.select(:animaltype, ['Bird', 'Cat', 'Dog', 'Livestock', 'Other'], {}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label :sex %>
      <%= form.select(:sex, ['Intact Female', 'Intact Male', 'Neutered Male', 'Spayed Female',  'Unknown'], {}, { :class => "form-control" }) %>
    </div>
    <div class="col-6">
      <%= form.label :birthday %>
      <%= form.text_field :birthday, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label :breed %>
      <%= form.text_field :breed, :class => "form-control" %>
    </div>
    <div class="col-6">
      <%= form.label :color %>
      <%= form.text_field :color, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group form-row">
    <div class="col-6">
      <%= form.label "Outcome" %>
      <%= form.select(:outcometype, ['Adoption', 'Died', 'Euthanasia', 'Missing', 'Return to Owner', 'Transfer'], {:include_blank => true}, {:class => "form-control"}) %>
    </div>
    <div class="col-6">
      <%= form.label "Outcome remarks" %>
      <%= form.text_field :outcomesubtype, :class => "form-control" %>
    </div>
  </div>

  <div class="actions pt-3">
    <%= form.submit :class => "btn btn-primary mr-1" %>
    <%= link_to animals_path, :class => "btn btn-outline-secondary" do %>Cancel<% end %>
  </div>
<% end %>
