<h1 class="my-4">Adoptions By Year</h1>

<%= form_tag("/animals/adoptions", method: :get) do %>
<div class="form-row align-items-left">
  <div class="col-3">
    <%= select_tag :report, options_for_select(["Yearly Adoptions", "Adoption by Dog Breeds"], 
        params[:report]), class: "form-control ml-0 mr-2",
        onchange: 'this.form.submit()' %>
  </div>
  <div class="col-auto">
    <%= submit_tag 'Search', class: "btn btn-primary" %>
  </div>
</div>
<% end %>
  

<% if params[:report].nil? || params[:report] == "Yearly Adoptions" %>
    <%= render partial: 'yearlyadoptions' %>
<% elsif params[:report] == "Adoption by Dog Breeds" %>
    <%= render partial: 'adoptionbydogbreed' %>
<% end %>
