<!--<p id="notice">-->
<%#= notice %>
<!--</p>-->

<div class="d-flex my-4 p-0 align-items-baseline">
  <div class="h1 mr-3">Animals</div>
  <div class="text-secondary"><%= number_with_delimiter(@results_count, :delimiter => ',') %> results</div>
</div>

<div class="d-flex justify-content-between flex-wrap">
  <div>
  <%= form_tag(animals_path, method: :get) do %>
    <div class="form-row align-items-left">
      <div class="col">
        <%= text_field_tag :name, params[:name], class: "form-control ml-0 mr-2", placeholder: "Name", autocomplete: 'off' %>
      </div>
      <div class="col">
        <%= select_tag :type, options_for_select([ "Bird", "Cat", "Dog", "Livestock", "Other" ], 
            params[:type]), include_blank: "Any Type", class: "form-control ml-0 mr-2", 
            onchange: 'this.form.submit()' %>
      </div>
      <div class="col">
        <%= select_tag :outcometype, options_for_select(["Adoption", "Died", "Euthanasia", "Missing", "Return to Owner", "Transfer"], 
            params[:outcometype]), include_blank: "Any Outcome", class: "form-control ml-0 mr-2",
            onchange: 'this.form.submit()' %>
      </div>
      <div class="col-auto">
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      </div>
      <div class="col-auto">
        <%= link_to 'Clear', animals_path, :class => "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
  </div>
  
  <div>
    <%= will_paginate @animals, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, inner_window: 1  %>
  </div>
</div>

<br>

<table class="table table-light table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Birthday</th>
      <th>Sex</th>
      <th>Breed</th>
      <th>Outcome</th>
      <th>Remarks</th>
      <th>Intake Date</th>
      <th>Outcome Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.animaltype %></td>
        <td><%= animal.birthday %></td>
        <td><%= animal.sex %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.outcometype %></td>
        <td><%= animal.outcomesubtype %></td>
        <td><% if !animal.intake_date.nil? %><%= animal.intake_date.strftime('%-m/%-d/%Y') %><% end %></td>
        <td><% if !animal.outcome_date.nil? %><%= animal.outcome_date.strftime('%-m/%-d/%Y') %><% end %></td>
        <td>
          <span class="text-nowrap">
          <%= link_to animal, :class => "hidden mr-1" do %>
            <i class="material-icons">description</i>
          <% end %>

          <%= link_to edit_animal_path(animal), :class => "hidden mr-1" do %>
            <i class="material-icons text-success">edit</i>
          <% end %>

          <%= link_to animal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "hidden" do %>
            <i class="material-icons text-danger">remove_circle</i>
          <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


