<div class="row">
  <div class="col-3 mt-4 mr-1 ml-auto">
    
    <% if @animal.avatar_file_name.nil? %>
      <%= image_tag "/assets/default_animal_image.png", :class => "img-thumbnail mb-3" %>
    <% else %>
      <%= image_tag @animal.avatar.url, :class => "img-thumbnail mb-3" %>
    <% end %>
        
    <%= link_to 'Edit Details', edit_animal_path(@animal), :class => "btn btn-primary" %>
    <%= link_to 'Back to Animals', :back, :class => "btn btn-outline-primary" %>
  </div>
  <div class="col-5 mr-auto">

    <ul class="list-group py-4">
      <li class="list-group-item active" style="background-color: #ee2740; border-color: #ee2740;">
        <h1 class="ml-3"><%= @animal.name %></h1>
      </li>
      <li class="list-group-item">
          <h6 class="d-inline col-2">Type:</h6><%= @animal.animaltype %>
      </li>
      <li class="list-group-item">
          <h6 class="d-inline col-2">Sex:</h6><%= @animal.sex %>
      </li>
      <li class="list-group-item">
          <h6 class="d-inline col-2">Breed:</h6><%= @animal.breed %>
      </li>
      <li class="list-group-item">
          <h6 class="d-inline col-2">Color:</h6><%= @animal.color %>
      </li>
      <li class="list-group-item">
        <h6 class="d-inline col-2">Birthday:</h6> <% if @animal.birthday.present? %><%= @animal.birthday.strftime('%-m/%-d/%Y') %><% end %>
      </li>
      <% if @animal.outcometype == "Active" %>
        <li class="list-group-item">
          <h6 class="d-inline col-2">Location: </h6> <% if @animal.enclosure_id.present? %><%= Enclosure.find_by_id(@animal.enclosure_id).name %><% end %>
        </li>
      <% else %>
        <li class="list-group-item">
          <h6 class="d-inline col-2">Outcome Date: </h6><% if !@animal.outcome_date.nil?%><%= @animal.outcome_date.strftime('%-m/%-d/%Y') %><% end %>
        </li>
      <% end %>
      <li class="list-group-item">
        <h6 class="d-inline col-2">Intake Date:</h6> <%= @animal.intake_date.strftime('%-m/%-d/%Y') %>
      </li>
      <li class="list-group-item">
        <h6 class="d-inline col-2">Days Active:</h6> 
          <% if @animal.outcometype == "Active" %>
            <%= pluralize((Date.today - @animal.intake_date.to_date + 1).to_i, "day") %>
          <% else %>
            <%= pluralize((@animal.outcome_date.to_date - @animal.intake_date.to_date + 1).to_i, "day") %>
          <% end %>
      </li>
      <li class="list-group-item">
        <h6 class="d-inline col-2">Status: </h6> <%= @animal.outcometype %>
      </li>
      <li class="list-group-item">
        <h6 class="d-inline col-2">Remarks: </h6> <%= @animal.outcomesubtype %>
      </li>
    </ul>

    
  </div>
</div>


