<!DOCTYPE html>
<html>
  <head>
    <title>iRESC-U</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag asset_path('irescu_favicon.png') %>
    
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
      <div class="container py-1">
        <%= link_to root_path do %>
          <img src="/assets/irescu_logo.svg" width=160 />
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-4 mr-auto">
            <li class="nav-item <% if controller.controller_name == "animals" %>active<% end %>">
              <%= link_to animals_path, :class => "nav-link" do %>Animals<% end %>
            </li>
            <li class="nav-item <% if controller.controller_name == "enclosures" %>active<% end %>">
              <%= link_to enclosures_path, :class => "nav-link" do %>Map View<% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/animals/adoptions", :class => "nav-link" do %>Reports<% end %>
            </li>
          </ul>
                      
          <span>
            <%= link_to new_animal_path, :class => "btn btn-primary" do %>
             <i class="material-icons d-inline mr-1" style="vertical-align: middle; font-size: 18px; line-height: 1.5;">add_circle_outline</i>
              New Intake
            <% end %>
          </span>
        </div>
    </div>
  </nav>

    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
